{% extends 'exercises/index.html' %}

{% block content %}

<h1 class="title">Add a new exercise</h1>

<div>
    <form action="/exercise/add/" method="post">
        {% csrf_token %}

        <div class="field">
            <label class="label"> {{ form.title.label }} </label>
            <p class="control">
                {{ form.title }}
            </p>
        </div>

        <div class="field">
            <label class="label"> {{ form.text.label }} </label>
            <p class="control">
                {{ form.text }}
            </p>
        </div>

        <input class="button" name="" type="submit" value="Submit"/>
    </form>
</div>

{% endblock %}
