{% extends 'exercises/index.html' %}

{% block content %}

<div class="card card-content">
    <h1 class="title">{{active_exercise.title}}</h1>
    <h2 class="subtitle">
        <small>
            {{ active_exercise.author.user.first_name }}
            {{ active_exercise.author.user.last_name }}
            -
            {{ active_exercise.creation_date }}
        </small>
    </h2>

    <div>
        {{active_exercise.text}}
    </div>
</div>

<div class="card card-content">
    <div>
        <h1 class="title">Current answer</h1>
        <h2 class="subtitle">
            {{current_handin.creator.user.first_name}}
            {{current_handin.creator.user.last_name }}
        </h2>
        <div>
            {% if current_handin %}
            {{current_handin.text}}
            {% else %}
            Not answered yet.
            {% endif %}
        </div>
    </div>
</div>

{% if user.is_authenticated %}
<div class="card card-content">
    <a class="button" href="handin">Hand in</a>
    {% block hand_in %}
    {% endblock %}
</div>
{% endif %}


{% endblock %}
